-- SQL Manager for SQL Server 4.3.0.47830
-- ---------------------------------------
-- Host      : DESKTOP-4AAQJLB\SQLEXPRESS
-- Database  : DBKATA
-- Version   : Microsoft SQL Server 2008 R2 (SP1) 10.50.2500.0


CREATE DATABASE DBKATA
ON PRIMARY
  ( NAME = DBKata_Data,
    FILENAME = N'D:\1T Delphi\Bases de datos\Bco Bogota\DBKata.mdf',
    SIZE = 9984 KB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 10 % )
LOG ON
  ( NAME = DBKata_Log,
    FILENAME = N'D:\1T Delphi\Bases de datos\Bco Bogota\DBKata.ldf',
    SIZE = 1 MB,
    MAXSIZE = 2097152 MB,
    FILEGROWTH = 10 % )
COLLATE Modern_Spanish_CI_AS
GO

USE DBKATA
GO

--
-- Definition for table CAFICULTORES :
--

CREATE TABLE dbo.CAFICULTORES (
  id int IDENTITY(1, 1) NOT NULL,
  nombre varchar(100) COLLATE Modern_Spanish_CI_AS NULL,
  identificacion varchar(20) COLLATE Modern_Spanish_CI_AS NULL,
  ciudad varchar(50) COLLATE Modern_Spanish_CI_AS NULL,
  tipo_producto varchar(50) COLLATE Modern_Spanish_CI_AS NULL,
  PRIMARY KEY CLUSTERED (id)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

EXEC sp_addextendedproperty 'MS_Description', N'Esta tabla almacena los datos de los caficultores con un identificador único auto-incremental (id). Incluye campos para el nombre, identificación, ciudad y tipo de producto que cultivan. La columna tipo_producto puede contener valores como ''AgroAhorros'', ''AgroCorriente'' o ''AgroDebito'', según la descripción extendida agregada.', N'schema', N'dbo', N'table', N'CAFICULTORES'
GO

EXEC sp_addextendedproperty 'MS_Description', N'AgroAhorros, AgroCorriente, AgroDebito', N'schema', N'dbo', N'table', N'CAFICULTORES', N'column', N'tipo_producto'
GO

--
-- Definition for table ABONOS_MONEDERO :
--

CREATE TABLE dbo.ABONOS_MONEDERO (
  id int IDENTITY(1, 1) NOT NULL,
  id_caficultor int NULL,
  valor decimal(18, 2) NULL,
  fecha date NULL,
  PRIMARY KEY CLUSTERED (id)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

EXEC sp_addextendedproperty 'MS_Description', N'Esta tabla registra los abonos realizados en el monedero de cada caficultor. Cada registro tiene un identificador único (id), referencia al caficultor (id_caficultor), el valor del abono (valor) y la fecha en que se realizó el abono (fecha). La clave foránea garantiza la integridad referencial con la tabla CAFICULTORES, sin permitir actualizaciones o eliminaciones en cascada.', N'schema', N'dbo', N'table', N'ABONOS_MONEDERO'
GO

--
-- Definition for table PRODUCTOS_CLIENTE :
--

CREATE TABLE dbo.PRODUCTOS_CLIENTE (
  id int IDENTITY(1, 1) NOT NULL,
  id_caficultor int NULL,
  tipo_producto varchar(50) COLLATE Modern_Spanish_CI_AS NULL,
  numero_cuenta varchar(20) COLLATE Modern_Spanish_CI_AS NULL,
  PRIMARY KEY CLUSTERED (id)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

EXEC sp_addextendedproperty 'MS_Description', N'Esta tabla almacena los productos asociados a cada caficultor. Cada registro tiene un identificador único (id), un campo id_caficultor que referencia a la tabla CAFICULTORES (clave foránea), el tipo de producto y el número de cuenta relacionado. Las restricciones de actualización y eliminación no permiten cambios o borrados en cascada sobre la clave foránea.', N'schema', N'dbo', N'table', N'PRODUCTOS_CLIENTE'
GO

--
-- Definition for view SALDO_MONEDERO :
--
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW dbo.SALDO_MONEDERO AS
SELECT id_caficultor, SUM(valor) AS saldo
 FROM ABONOS_MONEDERO
 GROUP BY id_caficultor;
GO

EXEC sp_addextendedproperty 'MS_Description', N'Esta vista calcula el saldo acumulado de cada caficultor sumando todos los valores registrados en la tabla ABONOS_MONEDERO. Para cada id_caficultor, muestra el total (saldo) de los abonos realizados, agrupando los datos por caficultor.', N'schema', N'dbo', N'view', N'SALDO_MONEDERO'
GO

--
-- Definition for stored procedure sp_ConsultarProductos :
--
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.sp_ConsultarProductos
    @id_caficultor INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT id, id_caficultor, tipo_producto, numero_cuenta
    FROM dbo.PRODUCTOS_CLIENTE
    WHERE id_caficultor = @id_caficultor;
END;
GO

EXEC sp_addextendedproperty 'MS_Description', N'Este procedimiento almacenado recibe un id_caficultor como parámetro y devuelve la lista de productos asociados a ese caficultor desde la tabla PRODUCTOS_CLIENTE, mostrando los campos id, tipo_producto y numero_cuenta.', N'schema', N'dbo', N'procedure', N'sp_ConsultarProductos'
GO

--
-- Definition for stored procedure sp_ConsultarSaldo :
--
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.sp_ConsultarSaldo
    @id_caficultor INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @id_caficultor IS NULL
    BEGIN
        -- Retornar todos los saldos
        SELECT id_caficultor, saldo
        FROM SALDO_MONEDERO;
    END
    ELSE
    BEGIN
        -- Retornar solo el saldo del caficultor indicado
        SELECT id_caficultor, saldo
        FROM SALDO_MONEDERO
        WHERE id_caficultor = @id_caficultor;
    END
END;
GO

EXEC sp_addextendedproperty 'MS_Description', N'Este procedimiento devuelve los saldos almacenados en SALDO_MONEDERO. Si no se proporciona un id_caficultor, devuelve el saldo de todos los caficultores. Si se proporciona un id_caficultor, devuelve solo el saldo correspondiente a ese caficultor.', N'schema', N'dbo', N'procedure', N'sp_ConsultarSaldo'
GO

--
-- Definition for stored procedure sp_GetAbonosFiltrados :
--
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.sp_GetAbonosFiltrados
    @id_caficultor INT = NULL,
    @fecha_inicio DATE = NULL,
    @fecha_fin DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT id_caficultor, valor, fecha
    FROM ABONOS_MONEDERO
    WHERE
      (
        (@id_caficultor IS NULL) OR
        (id_caficultor = @id_caficultor)
      )
      AND
      (
        -- Si llegan ambas fechas, filtro por rango
        (@fecha_inicio IS NOT NULL AND @fecha_fin IS NOT NULL AND fecha BETWEEN @fecha_inicio AND @fecha_fin)
        -- Si solo llega fecha_inicio, filtro por fecha exacta
        OR (@fecha_inicio IS NOT NULL AND @fecha_fin IS NULL AND fecha = @fecha_inicio)
        -- Si solo llega fecha_fin, filtro por fecha exacta
        OR (@fecha_inicio IS NULL AND @fecha_fin IS NOT NULL AND fecha = @fecha_fin)
        -- Si no llega ninguna fecha, no filtro por fecha
        OR (@fecha_inicio IS NULL AND @fecha_fin IS NULL)
      )
    ORDER BY fecha DESC;
END;
GO

EXEC sp_addextendedproperty 'MS_Description', N'Este procedimiento recupera registros de abonos realizados en la tabla ABONOS_MONEDERO. Permite filtrar por id_caficultor (opcional) y por un rango o fechas específicas (fecha_inicio y fecha_fin). Ordena los resultados por fecha de forma descendente.', N'schema', N'dbo', N'procedure', N'sp_GetAbonosFiltrados'
GO

--
-- Definition for stored procedure sp_RegistrarAbono :
--
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.sp_RegistrarAbono
    @id_caficultor INT,
    @valor DECIMAL(18, 2),
    @fecha DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF (@valor <= 0)
    BEGIN
        RAISERROR('El valor del abono debe ser mayor a cero.', 16, 1);
        RETURN;
    END

    -- Validar que el caficultor exista
    IF NOT EXISTS (SELECT 1 FROM CAFICULTORES WHERE id = @id_caficultor)
    BEGIN
      RAISERROR('El caficultor especificado no existe.', 16, 1);
      RETURN;
    END

    -- Insertar abono y devolver el id insertado
    INSERT INTO ABONOS_MONEDERO (id_caficultor, valor, fecha)
    OUTPUT INSERTED.id AS NewID
    VALUES (@id_caficultor, @valor, @fecha);

END;
GO

EXEC sp_addextendedproperty 'MS_Description', N'Este procedimiento inserta un nuevo abono en ABONOS_MONEDERO. Valida que el valor del abono sea positivo y que el caficultor exista en la tabla CAFICULTORES. Devuelve el id del nuevo abono insertado.', N'schema', N'dbo', N'procedure', N'sp_RegistrarAbono'
GO

--
-- Definition for foreign keys :
--

ALTER TABLE dbo.ABONOS_MONEDERO
ADD FOREIGN KEY (id_caficultor)
  REFERENCES dbo.CAFICULTORES (id)
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE dbo.PRODUCTOS_CLIENTE
ADD FOREIGN KEY (id_caficultor)
  REFERENCES dbo.CAFICULTORES (id)
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

